/* === Imports === */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* === Variables === */
:root {
  --primary-color: #2d8464;
  --primary-color-darker: #1f5a44;
}

/* === Global === */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
  font-family: 'Open Sans', sans-serif;
}

table tr th {
  text-align: left;
}

.container,
form,
form .input-group {
  display: flex;
  flex-direction: column;
}

form input,
form button {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;

  width: 100%;
  height: 2.5rem;
  border: 1px solid black;
  border-radius: 0.25rem;
}

/* === Container === */
.container {
  background: #fff;
  max-width: min(30rem, 90%);
  margin: 3rem auto;
  padding: 1.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

  gap: 1rem;
}

/* - Form */
form {
  gap: 0.75rem;
}

form .input-group {
  gap: 0.25rem;
}

form input {
  padding: 0 1rem;
}

form input:focus {
  border-color: var(--primary-color);
  outline: 1px solid var(--primary-color);
}

form button {
  color: #fff;
  font-weight: 700;

  background: var(--primary-color);
  margin-top: 0.25rem;
  border: none;

  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover,
form button:active {
  background: var(--primary-color-darker);
}

/* - Result */
.result {
  display: none;
}

.result.have-paragraph {
  display: block;
}

.result-paragraph {
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.result-paragraph.success {
  background: #57f287;
}

.result-paragraph.error {
  background: #ed4245;
}
